{% extends 'ticket/base.html' %} 
{% block base %}

<section>
<h1>Details Page</h1>

{{ project_object.name }}
<br>
{{ project_object.description }}

<div class="container">
    

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    {{ form.description }}
    <br>
    {{ form.file}}
    <br>
    <!-- <input type="text" name="status" value="{{ form.instance.get_status_display }}" disabled> -->
    <br>
    <button type="submit">Submit</button>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}

</form>

{% for ticket in ticket_object %}
    {% if ticket.project.name ==  project_object.name %}
    {{ ticket.description }}
    <br>
    {% endif %}
    {% endfor %}
   


{% endblock %}
</section>

