{% extends 'ticket/base.html' %} 
{% block base %}
{% block title  %} Home {% endblock %}
<body>
    <div class="container">


    <div class="row">
    {% for project in project_objects %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="#" class="btn btn-primary">Raise a Ticket</a>
            </div>
        </div>
    </div>
    
    {% endfor %}
    </div>


</div>
</body>
{% endblock %}
