{% extends 'ticket\login_signup_base.html' %} 
{% block title  %} Register to Continue {% endblock %}
{% block base %}
<section id="section-basic-example">
  <!-- Section title -->
  <br>
  <h2 class="mb-4"><center>Resister User</center></h2>
</section>
<section class="pb-4">
<div class="border rounded-5">
  
  <section class="w-100 p-4 d-flex justify-content-center pb-4">
    <form style="width: 22rem;" method="post">
      {% csrf_token %}
      <!-- Username input -->
      <div class="form-outline mb-4">
        <label class="form" for="form2Example1">Username</label>
        <div class="input-form">{{form.username}}</div>
      </div>

      <div class="form-outline mb-4">
        <label class="form" for="form2Example1">Email Address</label>
        <div>{{form.email}}</div>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form" for="form2Example2">Password</label>
        <div>{{form.password1}}</div>
      </div>

      <!-- Confirm Password input -->
      <div class="form-outline mb-4">
        <label class="form" for="form2Example2">Confirm Password</label>
        <div>{{form.password2}}</div>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            {{form.errors}}
          </div>
        </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4" name="createUser">Sign up</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Already have Account? <a href="{% url 'login' %}">Login</a></p>
        <p>or sign up with:</p>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

      </div>
    </form>
  </section>
</div>
</section>
{% endblock %}
